*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Font-size: 16px;
    font-family: "Karla", sans-serif;
}
h1{
    margin-bottom: 20px;
    color: hsl(179, 62%, 43%);
}
h3{
    margin-bottom: 15px;
    color: hsl(71, 73%, 54%);
}
h4{
    margin: 20px 0;
}
.container{
    height: 450px;
    width: 600px;
    border: none;
    border-radius: 10px;
    box-shadow: .1rem .2rem .7rem rgba(0, 0, 0, 0.523);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-sup{
    padding: 40px;
}
.container-sup > p{
    font-size: 15px;
    color: hsl(218, 22%, 67%);
}
.container-buttom{
    display: flex;
    width: 100%;
    height: 100%;
}
.container-price{
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    color: white;
}
.price{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.661);
    margin-bottom: 15px;
}
span{
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    color: white;
}
.text > p{
    margin-bottom: 15px;
}
button{
    padding: .7rem 5rem;
    border-radius: 5px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    box-shadow: .1rem .2rem .6rem rgba(0, 0, 0, 0.243);
}
.container-us{
    width: 50%;
    padding: 20px 30px;
    background-color: hsl(179, 67%, 65%);
    border-bottom-right-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.container-us > p{
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.661);
}
footer{
    margin: 1rem 0;
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:375px) { 
    body{
        margin-top: 4rem;
    }
    h1{
        margin-bottom: 10px;
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.1rem;
    }
    h4{
        margin: 0;
    }
    .container{
        height: 790px;
        width: 355px;
    }
    .container-sup{
        height: 40%;
        padding: 30px;
    }
    .container-buttom{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-price{
        height: 100%;
        width: 100%;
        padding: 10px;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .text{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .price{
        margin-bottom: 0;
    }
    .text > p{
        margin-bottom: 0;
    }
    button{
        padding: .9rem 8rem;
    }
    .container-us{
        width: 100%;
        height: 100%;
        padding: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-text{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }
    .container-text > h4{
        margin-bottom: 10px;
    }
    
}